USE [master]
GO
/****** Object:  Database [WebAPICase]    Script Date: 17/06/2019 00:41:51 ******/
CREATE DATABASE [WebAPICase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAPICase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebAPICase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAPICase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebAPICase_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAPICase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAPICase]
GO
/****** Object:  User [user_WebAPICase]    Script Date: 17/06/2019 00:41:53 ******/
CREATE USER [user_WebAPICase] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 17/06/2019 00:41:53 ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_WebAPICase]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 17/06/2019 00:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[idHistorico] [int] IDENTITY(1,1) NOT NULL,
	[regiao] [varchar](2) NOT NULL,
	[estado] [varchar](2) NOT NULL,
	[municipio] [varchar](120) NOT NULL,
	[revenda] [varchar](250) NOT NULL,
	[instalacaoCodigo] [varchar](10) NOT NULL,
	[produto] [varchar](50) NOT NULL,
	[dataColeta] [date] NOT NULL,
	[valorCompra] [decimal](5, 3) NULL,
	[valorVenda] [decimal](5, 3) NOT NULL,
	[undMedida] [varchar](15) NOT NULL,
	[bandeira] [varchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/06/2019 00:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[senha] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
